botocore
boto3
faiss-cpu
transformers
langchain
langchain_experimental
langchain-aws
streamlit
streamlit_extras
llama-index
llama-index-llms-bedrock
llama-index-embeddings-bedrock
nltk 
gensim
threadpoolctl==3.1.0
numexpr==2.8.4
bottleneck==1.3.6
scikit-learn
numpy
pandas
seaborn
pypdf
wikipedia
langchain_openai
google-search-results
langchainhub
ipython
jsonlines
bert_score
plotly
googlesearch-python
pillow
statsmodels
imblearn
wordcloud
shap
xgboost
Jinja2