import boto3
import json

bedrock_runtime = boto3.client(
    service_name='bedrock-runtime',
    region_name='us-west-2', 
)

prompt = """{{prompt}}"""

body = json.dumps({
    'prompt': prompt,
    'max_tokens': {{max_tokens}}, 
    'top_p': {{top_p}},
    'temperature': {{temperature}},
})

response = bedrock_runtime.invoke_model(
    body=body,
    modelId='{{model}}', 
    accept='application/json', 
    contentType='application/json')

response_body = json.loads(response.get('body').read().decode('utf-8'))
print(response_body.get('outputs')[0].get('text'))