import boto3
import json

bedrock_runtime = boto3.client(
    service_name='bedrock-runtime',
    region_name='us-east-1', 
)

prompt =  """{{prompt}}""",

body = json.dumps({
    "prompt": prompt,
    "maxTokens": {{maxTokens}},
    "temperature": {{temperature}},
    "topP": {{topP}},
    "stopSequences": {{stopSequences}},
    "countPenalty": {"scale": {{countPenalty}}},
    "presencePenalty": {"scale": {{presencePenalty}}},
    "frequencyPenalty": {"scale": {{frequencyPenalty}}}
  })

response = bedrock_runtime.invoke_model(
    body=body, 
    modelId='{{model}}', 
    accept='application/json', 
    contentType='application/json'
    )

response_body = json.loads(response.get('body').read())
print(response_body.get('completions')[0].get('data').get('text'))