import json
import boto3
import base64
from io import BytesIO
from random import randint

bedrock = boto3.client(
    service_name='bedrock-runtime', 
    region_name='us-east-1'
    )

prompt = "{{prompt}}"
negative_prompt = "{{negative_prompt}}"

body = json.dumps({ 
    "taskType": "TEXT_IMAGE",
    "textToImageParams": {
        "text": prompt,
        "negativeText": negative_prompt
    },
    "imageGenerationConfig": {
        "numberOfImages": {{numberOfImages}},
        "quality": "{{quality}}",
        "height": {{height}},
        "width": {{width}},
        "cfgScale": {{cfgScale}},
        "seed": {{seed}}, 
    },
})

response = bedrock.invoke_model(
    body=body, 
    modelId="{{model}}", 
    contentType="application/json", 
    accept="application/json")

response = json.loads(response.get('body').read())

images = response.get('images')

image_data = base64.b64decode(images[0])

image = BytesIO(image_data)